NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fiecommerce

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_ORDER_EVENTS_EXCHANGE=order-events
RABBITMQ_PAYMENT_QUEUE=payment-queue
RABBITMQ_INVENTORY_QUEUE=inventory-queue
RABBITMQ_NOTIFICATION_QUEUE=notification-queue
